<div class="row activity" id="<%= activity.id %>">
<%= gravatar_for activity.user, size: Settings.user.avatar_size %>
<% if activity.is_learned? %>
  <%= t ".learned_x_words_in_lesson_y",
    words_number: activity.target.correct_number,
    lesson: activity.target.category.name %> - 
  (<%= l activity.created_at.to_date %>)
<% elsif activity.is_follow? %>
  <%= t ".followed_x", target: activity.target.name %> - 
  (<%= l activity.created_at.to_date %>)
<% else %>
  <%= t ".unfollowed_x", target: activity.target.name %> - 
  (<%= l activity.created_at.to_date %>)
<% end %>
</div>